.row{
  padding: 15px;
}

#nombre{
  text-align:center;
}

div{
  background-color: rgba(16, 52, 212, 0.904);
  text-align: left;
}

/*estilo foto perfil*/
/*desde 576  en adelante*/
 @media (min-width: 576px){
  #fotoperfil{
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px rgba(5, 5, 5, 0.082);
    left:3%;
    top:600px;
  }
}

/*desde 0 a 575px*/
@media (max-width: 575px){
  #fotoperfil{
    position: absolute;
    width: 30%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px black;
    left:35%;
    top:570px;
  }
}

/*etiqueta nombre*/

#nombre{
  font-weight: bold;
  margin-top: 10px;
}
