<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotoperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre" class="text-white">Avalos Medina Jorge Luis</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1 class="text-white">Acerca de mi</h1>
      <p class="text-white-50">
        Mi nombre es Avalos Jorge, tengo 29 años, soy estudiante de 3° año de la carrera Ingeniería en Sistemas de
        Información y soy técnico en informatica. Mi mayor deseo es recibirme y continuar aprendiendo nuevas
        herramientas de trabajo, me gusta la programación y tengo un buen nivel de ingles.
      </p>
    </span>
  </div>
</div>
