<div>
  <a href="https://www.linkedin.com/in/jorge-avalos-medina/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
  <a href=""><img src="../../../assets/twitter.png" id="twitter"></a>
  <a href="https://www.instagram.com/avalosjorge93/"><img src="../../../assets/instagram.png" id="instagram"></a>
  <a href="https://www.facebook.com/AvalosMedinaJorge"><img src="../../../assets/facebook.png" id="facebook"></a>
  <a href="https://github.com/AvalosJorge"><img src="../../../assets/github.png" id="github"></a>
</div>
